.pet-card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    width: 300px;
  }

  .pet-img {
    border-radius: 10px 10px 0 0;
    width: 300px;
  }

  .pet-name {
    font-weight: bolder;
  }

  .pet-description, .pet-headline, .pet-learn-more {
    padding: 10px;
  }

  .pet-headline {
    font-size: 18pt;
  }

  /* .pet-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    width: 360px;
    min-height: 450px; 
    padding-bottom: 15px;
    overflow: hidden; 
}

.pet-img {
    border-radius: 10px 10px 0 0;
    width: 100%; 
    max-height: 200px; 
    object-fit: cover; 
}

.pet-name {
    font-weight: bolder;
}

.pet-description, 
.pet-headline, 
.pet-learn-more {
    padding: 10px;
    text-align: center;
}

.pet-headline {
    font-size: 18pt;
}

.pet-description {
    flex-grow: 1; 
    overflow: hidden; 
}

.pet-learn-more {
    margin-top: auto;
} */

